* {
    font-family: sans-serif;
    color: var(--cor-da-fonte);
}

:root {
    --cor-de-fundo: rgba(218, 246, 246, 0.662);
    --cor-da-fonte: rgb(3, 60, 60);
    --sombra-borda: 0 5px 4px rgba(57, 57, 57, 0.1)
}

nav {
    display: flex;
    justify-content: end;
}

#btn-carrinho {
    background-color: transparent;
    border: none;
}

#btn-carrinho i {
    font-size: 2em;
    color: var(--cor-da-fonte);
}

#btn-carrinho:hover {
    transform: scale(1.1);
}

#btn-carrinho {
    animation: slidein 2s linear infinite alternate;
    animation-name: slidein;
}

@keyframes slidein {
    0% {
        margin-left: 10%;
        width: 100%;
    }

    100% {
        margin-left: 13%;
        width: 100%;
    }
}


.title-page {
    text-align: center;
}

#produtos-container {
    width: 100%;
    padding-top: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
    border: 2px solid rgb(3, 60, 60);
    background-color: var(--cor-de-fundo);
}

.card {
    background-color: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 25em;
    border: 1px solid #ccc;
    box-shadow: var(--sombra-borda);
    border-radius: 2%;
    transform: all .4s ease;
}

.titulo-produto{
    text-align: center;
}

.card:hover {
    transform: scale(1.01);
}

.imagem_produto {
    width: 80%;
    border-radius: 8px;
}

.card button {
    width: 50%;
    height: 30px;
    margin-bottom: 5%;
    border: 1px solid #ccc;
}

#buy:hover {
    background-color: rgb(208, 250, 208);
}

/*CARRINHO DE COMPRAS*/
.output {
    display: none;
    height: 50%;
    width: 50%;
    padding: 1%;
    position: absolute;
    top: 23%;
    background-color: rgb(218, 246, 246);
    box-shadow: var(--sombra-borda);
    border: 1px solid #ccc;
    z-index: 1;
    opacity: 1;
    overflow: auto;
}

.output h2{
    text-align: center;
}

.btn-fechar {
    display: flex;
    align-items: end;
}

.output button {
    width: 100%;
    background-color: transparent;
    border: none;
    color: red;
}