* {
    font-family: sans-serif;
}

:root {
    --cor-de-fundo: rgba(218, 246, 246, 0.662);
    /*--tamanho-fonte: 16px;*/
    --sombra-borda: 0 5px 4px rgba(57, 57, 57, 0.1)
}

.title-page{
    text-align: center;
}

#produtos-container {
    width: 100%;
    padding-top: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
    border: 2px solid rgb(3, 60, 60);
    background-color: var(--cor-de-fundo);
}

.card {
    background-color: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 25em;
    border: 1px solid #ccc;
    box-shadow: var(--sombra-borda);
    border-radius: 2%;
    transform: all .4s ease;
}

.card:hover {
    transform: scale(1.01);
}

.imagem_produto {
    width: 80%;
    border-radius: 8px;
}

button {
    width: 50%;
    height: 30px;
    margin-bottom: 5%;
    border: 1px solid #ccc;
}

button:hover {
    background-color: rgb(208, 250, 208);
}

/*CARRINHO DE COMPRAS*/
.output {
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 50%;
    padding: 10px;
    position: absolute;
    top: 20%;
    background-color: rgb(218, 246, 246);
    box-shadow: var(--sombra-borda);
    border: 1px solid #ccc;
    z-index: 1;
    opacity: 1;
    overflow:auto; 
}

.btn-fechar {
    display: flex;
    justify-content: end;
}

.output button {
    width: 50px;
    background-color: transparent;
    border: none;
    color: red;
}